<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="js9/js9support.css">
    <link type="text/css" rel="stylesheet" href="js9/js9.css">
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="apple-touch-icon" href="/images/js9-apple-touch-icon.png">
    <script type="text/javascript" src="bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/popper.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js9/js9support.min.js"></script>
    <script type="text/javascript" src="js9/js9.min.js"></script>
    <script type="text/javascript" src="js9/js9plugins.js"></script>


    <!-- Load pyINDI scripts -->
		<script src="/indi/static/js/indi.js"></script>
		<script src="/indi/static/js/maps-indi.js"></script>
		<script src="/indi/static/js/constants.js"></script>
		<script src="/indi/static/js/config.js"></script>
		<!-- Load pyINDI styling -->
		<link rel="stylesheet" href="/indi/static/css/indi.css">


    <style type="text/css">
      #centerdiv {
          position: absolute;
          margin: auto;
          top: 0;
          right: 0;
          bottom: 0;
          LEFT: 0;
          width: 900px;
          height: 900px;
      }
      .form-inline label {
          margin-left: 15px;
          margin-right: 10px;
      }
      .form-check label {
          margin-left: 10px;
      }
      .form-inline button {
          margin-left: 10px;
      }
      .row {
          margin-top: 20px;
      }
    </style>
    <title>F/5 Wavefront Sensor Camera Interface</title>
		<script>
			/* Constants */
			UserConfig.CUSTOM_GUI = true; // Triggers to true if html is in body tag below


			/**
			* Runs on load. Builds the default properties using a callback.
			*/
			const main = () => {
				// Tornado way of getting list
				var devices = {% raw json_encode(device_name) %};
				builder.init(devices);

				return;
			}


			/**
			* This function will be called whenever an INDI property with the device 
			*	{{ device_name }} is received. This is where users should modify the
			*	code to append to specific objects.
			*
			*	If wanting to use a custom GUI, enable in the configuration and provide the correct syntax for selecting 
			* elements.
			* @param {Object} indi Contains all information about INDI property
			*/
			const handleProperty = (indi) => {
				if (indi.op === IndiOp.DEFINITION) {
					if (!UserConfig.CUSTOM_GUI) {
						updater.handle(indi);
					}
					else {
						var vector = updater.custom(indi);
						// If returned vector is null, bad selector
						if (!vector) {
							return;
						}
						// Handle vector for the first time here
					}
				}
				// Handle vector every time it comes in
				var vector = updater.vector(indi);
				if(indi.name === "CCD1" && indi.op === IndiOp.SET)
				{
					enable(STATE_EXPOSING);
					cmap = JS9.GetColormap();
					JS9.CloseImage();
					
					console.log("loading JS9")
					JS9.Load(indi.CCD1, {onload: function() {
							if (cmap != null) {
									JS9.SetColormap(cmap['colormap'], cmap['contrast'], cmap['bias']);
							};
					}});
					$("#progress").css("width", "0%").text("");
					$("#progress").removeClass("progress-bar-striped progress-bar-animated");
					// if ($('#continuous').prop("checked")) {
					//    $('#expose').trigger('click');
					// };
				}
				else if(indi.name === "CCD_EXPOSURE" && indi.op === IndiOp.SET)
				{
					percent = 100 * (1-indi.CCD_EXPOSURE_VALUE/EXPOSING_TIME)
                    $("#progress").css("width", percent.toString() + "%").text(Math.round(percent).toString() + " %");
				}
				else if(indi.name === "CONNECTION" && indi.op === IndiOp.SET)
				{
					if(indi.CONNECT == "On")
                    {
						$("#connect").text("Connected").removeClass("btn-danger").addClass("btn-success")

                    }
				}
				else if(indi.name === "CCD_COOLER" && indi.op === IndiOp.SET)
                {
                    if(indi.COOLER_ON === "On")
                    {
                        $("#cooling").prop("checked", true)
                    }
                    else
                    {
                        $("#cooling").prop("checked", false)
                    }
                    enable(STATE_STARTING_COOL);
                }
				else if(indi.name === "CCD_TEMPERATURE" && indi.op === IndiOp.SET)
                {
                    $('#ctemp').html(indi.CCD_TEMPERATURE_VALUE + " ˚C");
                    enable(STATE_CFGING_TEMP);

                }
				else if(indi.name === "CCD_COOLER_POWER" && indi.op === IndiOp.SET)
                {
                    $('#cpower').html(indi.CCD_COOLER_VALUE + "%");

                }

        return;
			}
		</script>
<body onload="main()">
    <div class="page-header" align="center">
        <h1 class="display-4">F/5 Wavefront Sensor Camera Interface</h1>
    </div>
		<div id="indicontainer" style="display:none">
			
		</div>
    <div class="container">
        <div id="accordion" role="tablist">
            <div class="card">
                <div class="card-header" role="tab" id="eng_heading">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapse_reg" aria-expanded="false" aria-controls="collapse_reg">
                            Engineering Interface
                        </a>
                    </h5>
                </div>
                <div id="collapse_reg" class="collapse" role="tabpanel" aria-labelledby="eng_heading" data-parent="#accordion">
                    <div class="card-body">
                        <form>
                            <div class="form-row">
                                <div class='form-group col-md-3'>
                                    <label for="frame_x">Lower X:</label>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon" id="cframe_x">N/A</span>
                                        <input class="form-control form-control-sm" type="number" min=0 max={{ args['ccdinfo']['CCD_MAX_X'] }} step=1 value={{ int(args['frame']['X']) }} id="frame_x" aria-describedby="cframe_x">
                                    </div>
                                </div>
                                <div class='form-group col-md-3'>
                                    <label for="frame_y">Lower Y:</label>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon" id="cframe_y">N/A</span>
                                        <input class="form-control form-control-sm" type="number" min=0 max={{ args['ccdinfo']['CCD_MAX_Y'] }} step=1 value={{ int(args['frame']['Y']) }} id="frame_y" aria-describedby="cframe_y">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class='form-group col-md-3'>
                                    <label for="frame_w">Width:</label>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon" id="cframe_w">N/A</span>
                                        <input class="form-control form-control-sm" type="number" min=0 max={{ args['ccdinfo']['CCD_MAX_X'] }} step=1 value={{ int(args['frame']['width']) }} id="frame_w" aria-describedby="cframe_w">
                                    </div>
                                </div>
                                <div class='form-group col-md-3'>
                                    <label for="frame_h">Height:</label>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon" id="cframe_h">N/A</span>
                                        <input class="form-control form-control-sm" type="number" min=0 max={{ args['ccdinfo']['CCD_MAX_Y'] }} step=1 value={{ int(args['frame']['height']) }} id="frame_h" aria-describedby="cframe_h">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class='form-group col-md-3'>
                                    <label for="x_bin">X binning:</label>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon" id="cx_bin">N/A</span>
                                        <input class="form-control form-control-sm" type="number" min=1 max=20 step=1 value={{ int(args['binning']['X']) }} id="x_bin" aria-describedby="cx_bin">
                                    </div>
                                </div>
                                <div class='form-group col-md-3'>
                                    <label for="y_bin">Y binning:</label>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon" id="cy_bin">N/A</span>
                                        <input class="form-control form-control-sm" type="number" min=1 max=20 step=1 value={{ int(args['binning']['Y']) }} id="y_bin" aria-describedby="cy_bin">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class='form-group col-md-4'>
                                    <button type="button" id="confccd" class="btn btn-primary btn-sm">Configure Readout</button>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class='form-group col-md-4'>
                                    <button type="button" id="confwfs" class="btn btn-primary btn-sm">Configure for WFS</button>
                                </div>
                                <div class='form-group col-md-4'>
                                    <button type="button" id="confdefault" class="btn btn-primary btn-sm">Default Configuration</button>
                                </div>
                                <div class='form-group col-md-4'>
                                    <button type="button" id="connect" class="btn btn-danger btn-sm">NOT Connected</button>

                                   
                                </div>
                            </div>

			                <div data-custom-device="SBIG CCD" data-custom-vector="CONNECTION"></div>
                			<div data-custom-device="SBIG CCD" data-custom-vector="CCD_EXPOSURE"></div>
			                <div data-custom-device="SBIG CCD" data-custom-vector="SIMULATION"></div>
			                <div data-custom-device="SBIG CCD" data-custom-vector="CCD_FRAME"></div>
			                <div data-custom-device="SBIG CCD" data-custom-vector="CCD_TEMPERATURE"></div>
			                <div data-custom-device="SBIG CCD" data-custom-vector="CCD_TEMP_RAMP"></div>
			                <div data-custom-device="SBIG CCD" data-custom-vector="CCD_COOLER"></div>
			                <div data-custom-device="SBIG CCD" data-custom-vector="CCD_COOLER_POWER"></div>
			                <div data-custom-device="SBIG CCD" data-custom-vector="CCD_FRAME_TYPE"></div>
                        </form>
                    </div>
                </div>
            </div>
        <div class="row justify-content-left">
            <div class='col-md-10 align-self-left'>
                <form class="form-inline">
                    <div class="form-row form-group">
                        <div class="custom-control custom-radio custom-control-inline">
                            {% if args['cooling'] == "On" %}
                                <input id="cooling" type="checkbox" class="custom-control-input" checked>
                            {% else %}
                                <input id="cooling" type="checkbox" class="custom-control-input">
                            {% end %}
                            <label class="custom-control-label" for="cooling">Enable Cooling</label>
                        </div>
                        <label for="settemp">Set Temp (˚C):</label>
                        <input class="form-control form-control-sm" type="number" min=-30.0 max=30.0 step=0.1 value={{ args['requested_temp'] }} id="settemp">
                        <button id="conftemp" type="button" class="btn btn-primary btn-sm">Configure Temp</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-left">
            <div class='col-md-10 align-self-left'>
                <div class="form-inline">
                    <label for="ctemp"><b>Camera Temp:</b></label> <div id="ctemp">N/A ˚C</div>
                    <label for="cpower"><b>Cooling Power:</b></label> <div id="cpower">N/A%</div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class='col-md-10'>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="exptype">Exposure Type:</label>
                        <select class="form-control form-control-sm" id="exptype">
                            {% for f in args['frame_types'] %}
                                {% if f == 'Light' %}
                                    <option selected value={{ f }}>{{ f }}</option>
                                {% else %}
                                    <option value={{ f }}>{{ f }}</option>
                                {% end %}
                            {% end %}
                        </select>
                        <label for="exptime">Exposure Time (sec):</label>
                        <input class="form-control form-control-sm" type="number" min=0.0 max=3600.0 step=1.0 value=10.0 id="exptime">
                        <button type="button" id="expose" class="btn btn-primary">Expose</button>
                        <!-- <label class="form-check-label"><label class="custom-control custom-checkbox">
                            <input id="continuous" type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Continuous Exposure Loop</span>
                        </label> -->
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class='col'>
                <div class="progress" style="height: 20px;">
                    <div id="progress" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </div>
        </div>
        <script>
            var busy = false;
            var x = 384.;
            var y = 256.;
            var radius = 20.;
            BUSY_STATUS = 0x00;
            STATE_EXPOSING = 0x01;
            STATE_CFGING_TEMP = 0x02;
            STATE_STARTING_COOL = 0x04;

            function disable(STATE) {
                BUSY_STATUS = BUSY_STATUS | STATE
                $('#connect').prop("disabled", true);
                $('#expose').prop("disabled", true);
                $('#cooling').prop("disabled", true);
                $('#conftemp').prop("disabled", true);
                $('#confccd').prop("disabled", true);
                $('#confwfs').prop("disabled", true);
                $('#confdefault').prop("disabled", true);
                busy = true;
            };
            function enable(STATE) {
                BUSY_STATUS = BUSY_STATUS & (STATE ^ 0Xff)
                //Only enable if all status bits are zero. 
                if ( BUSY_STATUS === 0x00 )
                {
                    $('#connect').prop("disabled", false);
                    $('#expose').prop("disabled", false);
                    $('#cooling').prop("disabled", false);
                    $('#conftemp').prop("disabled", false);
                    $('#confccd').prop("disabled", false);
                    $('#confwfs').prop("disabled", false);
                    $('#confdefault').prop("disabled", false);
                    busy = false;
                }
            };
            function updateProgress(exp, i) {
                if (i > 0) {
                    percent = 100.0 * (exp - i) / exp
                    $("#progress").css("width", percent.toString() + "%").text(Math.round(percent).toString() + " %");
                    i = i - 0.1;
                    setTimeout(function() {updateProgress(exp, i)}, 100);
                } else {
                    $("#progress").css("width", "100%").text("Reading Out...");
                    $("#progress").addClass("progress-bar-striped progress-bar-animated");
                };
            };
            $('#expose').on('click', function() {
                disable(STATE_EXPOSING);
                var exptype = $('#exptype').val();
                var exptime = $('#exptime').val();
                var filt = $('#filter').val();
	        	EXPOSING_TIME=parseFloat(exptime);
        		setindi("Number", "SBIG CCD.CCD_EXPOSURE", "CCD_EXPOSURE_VALUE", exptime)
                var url = "expose?filt=" + filt + "&exptype=" + exptype + "&exptime=" + exptime;

            });
            $('#cooling').on('click', function() {
                setindi("Switch", "SBIG CCD.CCD_COOLER", "COOLER_ON", "On", "COOLER_OFF", "Off")
                disable(STATE_STARTING_COOL);

            });
            $('#conftemp').on('click', function(){
                
                disable(STATE_CFGING_TEMP);
                var temp = $('#settemp').val();
                setindi("Number", "SBIG CCD.CCD_TEMPERATURE", "CCD_TEMPERATURE_VALUE", temp)
                var url = "temperature?temp=" + temp;
            });

            $('#confccd').on('click', function(){
                disable();
                var frame_x = $('#frame_x').val();
                var frame_y = $('#frame_y').val();
                var frame_w = $('#frame_w').val();
                var frame_h = $('#frame_h').val();
                var x_bin = $('#x_bin').val();
                var y_bin = $('#y_bin').val();
                var url = "ccdconf?frame_x=" + frame_x;
                url += "&frame_y=" + frame_y;
                url += "&frame_w=" + frame_w;
                url += "&frame_h=" + frame_h;
                url += "&x_bin=" + x_bin;
                url += "&y_bin=" + y_bin;
                $.get(url, function(data, status) {
                    enable();
                });
            });
            $('#confwfs').on('click', function(){
                disable();
                $.get("wfs_config", function(){
                    enable();
                });
            });
            $('#confdefault').on('click', function(){
                disable();
                $.get("default_config", function(){
                    enable();
                });
            });
            $('#connect').on('click', function(){
                setindi("Switch", "SBIG CCD.CONNECTION", "CONNECT", "On", "DISCONNECT", "Off");
            });

            (function update() {
                $.getJSON("status", {format: "json"}).done(function(data) {
                    if (busy == false) {
                        $('#ctemp').html(data['temperature'] + " ˚C");
                        $('#cpower').html(data['cooling_power'] + "%");
                        if (data['cooling'] == "On") {
                            $('#cooling').prop('checked', true);
                        } else {
                            $('#cooling').prop('checked', false);
                        };
                        if (data['status'] == true) {
                            $("#connect").removeClass("btn-danger");
                            $("#connect").addClass("btn-success");
                            $("#connect").text("Connected");
                        } else {
                            $("#connect").removeClass("btn-success");
                            $("#connect").addClass("btn-danger");
                            $("#connect").text("NOT Connected");
                        };
                        $('#cframe_x').html(data['frame']['X']);
                        $('#cframe_y').html(data['frame']['Y']);
                        $('#cframe_w').html(data['frame']['width']);
                        $('#cframe_h').html(data['frame']['height']);
                        $('#cx_bin').html(data['binning']['X']);
                        $('#cy_bin').html(data['binning']['Y']);
                    };
                    setTimeout(update, 2000);
                });
            })();

        </script>
        <div class='row'>
            <div class='col-12'>
                <div class="JS9Menubar" data-width="900px"></div>
                <div class="JS9" data-width="900px" data-height="900px"></div>
                <div style="margin-top: 2px;"><div class="JS9Colorbar" data-width="900px"></div>
            </div>
        </div>

    </div>
</body>
</html>
