<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="js9/js9support.css">
    <link type="text/css" rel="stylesheet" href="js9/js9.css">
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="apple-touch-icon" href="/images/js9-apple-touch-icon.png">
    <script type="text/javascript" src="bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/popper.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js9/js9support.min.js"></script>
    <script type="text/javascript" src="js9/js9.min.js"></script>
    <script type="text/javascript" src="js9/js9plugins.js"></script>
    <style type="text/css">
      #centerdiv {
          position: absolute;
          margin: auto;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 900px;
          height: 900px;
      }
      .form-inline label {
          margin-left: 15px;
          margin-right: 10px;
      }
      .form-inline button {
          margin-left: 10px;
      }
      .row {
          margin-top: 20px;
      }
    </style>
    <title>F/9 Wavefront Sensor Camera Interface</title>
<body>
    <div class="page-header" align="center">
        <h1 class="display-4">F/9 Wavefront Sensor Camera Interface</h1>
    </div>

    <div class="container">
        <div class="row justify-content-left">
            <div class='col align-self-left'>
                <div class="form-inline">
                    <label for="frame_x">Lower X (<div id="cframe_x"></div>):</label>
                    <input class="form-control form-control-sm" type="number" min=0 max={{ args['ccdinfo']['CCD_MAX_X'] }} step=1 value={{ int(args['frame']['X']) }} id="frame_x">
                    <label for="frame_y">Lower Y (<div id="cframe_y"></div>):</label>
                    <input class="form-control form-control-sm" type="number" min=0 max={{ args['ccdinfo']['CCD_MAX_Y'] }} step=1 value={{ int(args['frame']['Y']) }} id="frame_y">
                </div>
            </div>
        </div>
        <div class="row justify-content-left">
            <div class='col align-self-left'>
                <div class="form-inline">
                    <label for="frame_w">Width (<div id="cframe_w"></div>):</label>
                    <input class="form-control form-control-sm" type="number" min=0 max={{ args['ccdinfo']['CCD_MAX_X'] }} step=1 value={{ int(args['frame']['width']) }} id="frame_w">
                    <label for="frame_h">Height (<div id="cframe_h"></div>):</label>
                    <input class="form-control form-control-sm" type="number" min=0 max={{ args['ccdinfo']['CCD_MAX_Y'] }} step=1 value={{ int(args['frame']['height']) }} id="frame_h">
                </div>
            </div>
        </div>
        <div class="row justify-content-left">
            <div class='col align-self-left'>
                <div class="form-inline">
                    <label for="x_bin">X binning (<div id="cx_bin"></div>):</label>
                    <input class="form-control form-control-sm" type="number" min=1 max=20 step=1 value={{ int(args['binning']['X']) }} id="x_bin">
                    <label for="y_bin">Y binning (<div id="cy_bin"></div>):</label>
                    <input class="form-control form-control-sm" type="number" min=1 max=20 step=1 value={{ int(args['binning']['Y']) }} id="y_bin">
                    <button type="button" id="confccd" class="btn btn-primary btn-sm">Configure CCD</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-left">
            <div class='col align-self-left'>
                <div class="form-inline">
                    <button type="button" id="confwfs" class="btn btn-primary btn-sm">Configure for WFS</button>
                    <button type="button" id="confdefault" class="btn btn-primary btn-sm">Default Configuration</button>
                    {% if args['status'] %}
                        <button type="button" id="connect" class="btn btn-success btn-sm">Reconnect</button>
                    {% else %}
                        <button type="button" id="connect" class="btn btn-danger btn-sm">Reconnect</button>
                    {% end %}
                </div>
            </div>
        </div>
        <div class="row justify-content-left">
            <div class='col align-self-left'>
                <form class="form-inline">
                    <div class="form-group">
                        <label class="form-check-label">
                            Enable Cooling:
                            {% if args['cooling'] == "On" %}
                                <input id="cooling" type="checkbox" class="form-check-input" checked>
                            {% else %}
                                <input id="cooling" type="checkbox" class="form-check-input">
                            {% end %}
                        </label>
                        <label for="settemp">Set Temp (˚C):</label>
                        <input class="form-control form-control-sm" type="number" min=-30.0 max=30.0 step=0.1 value={{ args['requested_temp'] }} id="settemp">
                        <button id="conftemp" class="btn btn-primary btn-sm">Configure Temp</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-left">
            <div class='col align-self-left'>
                <div class="form-inline">
                    <label for="ctemp"><b>Camera Temp:</b></label> <div id="ctemp">N/A ˚C</div>
                    <label for="cpower"><b>Cooling Power:</b></label> <div id="cpower">N/A%</div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class='col-10'>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="exptype">Exposure Type:</label>
                        <select class="form-control form-control-sm" id="exptype">
                            {% for f in args['frame_types'] %}
                                {% if f == 'Light' %}
                                    <option selected value={{ f }}>{{ f }}</option>
                                {% else %}
                                    <option value={{ f }}>{{ f }}</option>
                                {% end %}
                            {% end %}
                        </select>
                        <label for="exptime">Exposure Time (sec):</label>
                        <input class="form-control form-control-sm" type="number" min=0.0 max=3600.0 step=1.0 value=1.0 id="exptime">
                    </div>
                    <button type="button" id="expose" class="btn btn-primary">Expose</button>
                </form>
            </div>
        </div>
        <script>
            var busy = false;
            var x = 384.;
            var y = 256.;
            var radius = 20.;
            function disable() {
                $('#connect').prop("disabled", true);
                $('#expose').prop("disabled", true);
                $('#cooling').prop("disabled", true);
                $('#conftemp').prop("disabled", true);
                $('#confccd').prop("disabled", true);
                $('#confwfs').prop("disabled", true);
                $('#confdefault').prop("disabled", true);
                busy = true;
            };
            function enable() {
                $('#connect').prop("disabled", false);
                $('#expose').prop("disabled", false);
                $('#cooling').prop("disabled", false);
                $('#conftemp').prop("disabled", false);
                $('#confccd').prop("disabled", false);
                $('#confwfs').prop("disabled", false);
                $('#confdefault').prop("disabled", false);
                busy = false;
            }
            $('#expose').on('click', function() {
                disable();
                var exptype = $('#exptype').val();
                var exptime = $('#exptime').val();
                var filt = $('#filter').val();
                var url = "expose?filt=" + filt + "&exptype=" + exptype + "&exptime=" + exptime;
                $.get(url, function(data, status) {
                    var logstuff = data + status;
                    enable();
                });
                cmap = JS9.GetColormap();
                JS9.CloseImage();
                JS9.Load("latest", {onload: function() {
                    if (cmap != null) {
                        JS9.SetColormap(cmap['colormap'], cmap['contrast'], cmap['bias']);
                    };
                }});
            });
            $('#cooling').on('click', function() {
                disable();
                $.get("cooling", function(data, status) {
                    enable();
                    var logstuff = data + status;
                });
            });
            $('#conftemp').on('click', function(){
                disable();
                var temp = $('#settemp').val();
                var url = "temperature?temp=" + temp;
                $.get(url, function(data, status) {
                    var logstuff = data + status;
                    $('#settemp').val(temp);
                    enable();
                });
            });
            $('#confccd').on('click', function(){
                disable();
                var frame_x = $('#frame_x').val();
                var frame_y = $('#frame_y').val();
                var frame_w = $('#frame_w').val();
                var frame_h = $('#frame_h').val();
                var x_bin = $('#x_bin').val();
                var y_bin = $('#y_bin').val();
                var url = "ccdconf?frame_x=" + frame_x;
                url += "&frame_y=" + frame_y;
                url += "&frame_w=" + frame_w;
                url += "&frame_h=" + frame_h;
                url += "&x_bin=" + x_bin;
                url += "&y_bin=" + y_bin;
                $.get(url, function(data, status) {
                    enable();
                });
            });
            $('#confwfs').on('click', function(){
                disable();
                $.get("wfs_config", function(){
                    enable();
                });
            });
            $('#confdefault').on('click', function(){
                disable();
                $.get("default_config", function(){
                    enable();
                });
            });
            $('#connect').on('click', function(){
                disable();
                $.get("reset", function(data, status) {
                    var logstuff = data + status;
                    enable();
                });
            });

            (function update() {
                $.getJSON("status", {format: "json"}).done(function(data) {
                    if (busy == false) {
                        $('#ctemp').html(data['temperature'] + " ˚C");
                        $('#cpower').html(data['cooling_power'] + "%");
                        if (data['cooling'] == "On") {
                            $('#cooling').prop('checked', true);
                        } else {
                            $('#cooling').prop('checked', false);
                        };
                        if (data['status'] == true) {
                            $("#connect").removeClass("btn-danger");
                            $("#connect").addClass("btn-success");
                        } else {
                            $("#connect").removeClass("btn-success");
                            $("#connect").addClass("btn-danger");
                        };
                        $('#cframe_x').html(data['frame']['X']);
                        $('#cframe_y').html(data['frame']['Y']);
                        $('#cframe_w').html(data['frame']['width']);
                        $('#cframe_h').html(data['frame']['height']);
                        $('#cx_bin').html(data['binning']['X']);
                        $('#cy_bin').html(data['binning']['Y']);
                    };
                    setTimeout(update, 2000);
                });
            })();

        </script>
        <div class='row'>
            <div class='col-12'>
                <div class="JS9Menubar" data-width="900px"></div>
                <div class="JS9" data-width="900px" data-height="900px"></div>
                <div style="margin-top: 2px;"><div class="JS9Colorbar" data-width="900px"></div>
            </div>
        </div>

    </div>
</body>
</html>
